In [1]:
import pandas as pd
import datetime

In [2]:
KEY_FILE = 'keys.txt'
FILENAME = "Bitmex_Hist.csv"

In [3]:
# import Crypto_Backtesting

In [4]:
# DataPull = Crypto_Backtesting.DataPuller(FILENAME, KEY_FILE)

In [5]:
# dir(Crypto_Backtesting)

In [6]:
test = pd.read_csv(FILENAME, index_col = 1, date_parser = pd.to_datetime)

In [7]:
test.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 10000000 entries, 2017-10-20 10:16:00.296000+00:00 to 2017-11-25 13:37:53.292000+00:00
Data columns (total 10 columns):
 #   Column           Dtype
---  ------           -----
 0   Unnamed: 0       int64
 1   symbol           object
 2   side             object
 3   size             int64
 4   price            float64
 5   tickDirection    object
 6   trdMatchID       object
 7   grossValue       int64
 8   homeNotional     float64
 9   foreignNotional  float64
dtypes: float64(3), int64(3), object(4)
memory usage: 839.2+ MB

In [8]:
test.index.dtype

datetime64[ns, UTC]

In [9]:
Avg_df = (test.price * test['size']).resample("1T").sum() / test['size'].resample("1T").sum()

In [10]:
ohlc_df = test.price.resample('1T').ohlc()
del (test)

In [11]:
ohlc_df['average'] = Avg_df

In [12]:
ohlc_df

                             open    high     low   close      average
timestamp
2017-10-20 10:16:00+00:00  5646.9  5646.9  5643.3  5643.3  5646.212603
2017-10-20 10:17:00+00:00  5642.9  5642.9  5635.0  5635.0  5637.983986
2017-10-20 10:18:00+00:00  5635.1  5642.1  5635.0  5642.0  5636.059667
2017-10-20 10:19:00+00:00  5642.0  5643.2  5642.0  5643.2  5642.387678
2017-10-20 10:20:00+00:00  5643.3  5651.0  5643.3  5650.9  5648.721905
...                           ...     ...     ...     ...          ...
2017-11-25 13:33:00+00:00  8600.0  8600.5  8596.5  8596.5  8599.502179
2017-11-25 13:34:00+00:00  8596.5  8597.0  8593.0  8593.0  8595.521335
2017-11-25 13:35:00+00:00  8593.0  8593.0  8590.5  8591.5  8591.786085
2017-11-25 13:36:00+00:00  8591.0  8614.5  8591.0  8611.0  8601.924092
2017-11-25 13:37:00+00:00  8611.5  8629.5  8611.0  8629.5  8619.093927

[52042 rows x 5 columns]